:root {
  --cor-primaria: #e21;
  --cor-primaria-escura: #900;
  --fundo-1: #f7f7f7;
  --fundo-2: #ffffff;
  --texto: #000000;
  --subtitulo: rgba(0, 0, 0, 0.2)
  --onda: url("./img/onda-clara.svg");
}



@media (prefers-color-scheme: dark) {
  :root {
    --fundo-1: #111111;
    --fundo-2: #000000;
    --texto: #ffffff;
    --subtitulo:  rgba(255, 255, 255, 0.2);
    --onda: url("./img/onda-escura.svg");
    
  }
}


body {
  font-family: JetBrains Mono;
  margin: 0;
  background: var(--fundo-1);
  display: grid;
  gap: 3.75rem;
  justify-items: center;
  margin-top: 3.75rem;
  color: var(--texto);
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

p,
h1,
h2,
h3 {
  margin: 0px;
}

p {
  font-size: 1.25rem;
  line-height: 1.3;
}

/* Porque o grid havia sido aplicado no body, o header estava sendo centralizado, então é necessário aplicar o display:grid; aqui e justificar os itens normalmente */

.header {
  display: grid;
  justify-items: center;
  gap: 3.75rem;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-content: center;
}

/* É necessário display: block; para o 'a' pegar o padding */
.menu a {
  display: block;
  background: var(--fundo-2);
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  color: var(--texto);
  text-transform: uppercase;
  border: 0.12rem solid transparent;
}

/* Para corrigir o problema dos itens pularem, é por causa da borda, basta pintar o item pai do hover de transparent ou da cor do conteúdo */

.menu a:hover {
  border: 0.12rem solid var(--cor-primaria);
}

.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}

.introducao {
  background: var(--fundo-2);
  padding: 40px;
  text-align: right;
  position: relative;
  display: grid;
  gap: 1.25rem;
  align-content: center;
  justify-items: end;
}

.introducao h1 {
  font-size: 2rem;
}

/* O pseudo elemento sempre deve ter um content: ""; */
.introducao::before {
  content: "";
  width: 3.75rem;
  height: 0.25rem;
  background: var(--cor-primaria);
  position: absolute;
  top: 1.87rem;
  right: -1.87rem;
}

/* Tornando a imagem responsiva com o object fit:cover, caso específico */

.introducao-cover img {
  object-fit: cover;
  height: 100%;
}


.botao {
  background: var(--cor-primaria);
  color: #ffffff;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  text-transform: uppercase;
}

.botao:hover {
  background: var(--cor-primaria-escura);
}

/* Para quebrar uma palavra com CSS e o layout se adaptar responsivamente, word-break: break-all; */

.subtitulo {
  font-size: 4rem;
  text-transform: uppercase;
  color: var(--subtitulo);
  text-align: right;
  padding: 2.5rem;
  align-self: center;
  background-image: var(--onda);
  /* word-break: break-all; Uma possível solução para quebrar as palavras com CSS */
}

.vantagens {
  background: var(--fundo-2);
  padding: 2.5rem;
}

/* DUAS COLUNAS 
UMA QUE PEGA A IMAGEM
E OUTRA QUE PEGA O TÍTULO E O CONTEÚDO
*/

/* O VALOR #AUTO pega exatamente o tamanho do conteúdo
   Para distribuir o restante usa-se 1fr
*/

/* Quando quebra o item para a próxima coluna, ele coloca o conteúdo inteiro nela */

/* #DEFININDO O VALOR DOS GAPS */
/* #O primeiro valor para a distancia entre as linhas e o segundo para as colunas */

/* padding esta somando, ao todo 60px nas laterais, 40px entre os itens na vertical */

.vantagens-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.6rem 1.25rem;
  padding: 1.25rem;
  border-left: 0.24rem solid transparent;
}

.vantagens-item:hover {
  border-color: var(--cor-primaria);
}

.vantagens-item:nth-child(odd):hover {
  background: var(--fundo-1);
}

.vantagens-item p {
  grid-column: 2;
}

/* Para expandir o item afetado pelo justify-content: center;
   Só definir um width de 100%
*/

.rodape {
  width: 100%;
  background: var(--fundo-2);
  text-align: center;
  padding: 2.5rem;
  box-sizing: border-box;
}

/* Se usa media-querie em pontos de quebra, chamado break-points, no caso, onde o próprio site "quebra" o layout */

/* Geralmente se usa embaixo do próprio elemento editado, que no caso, seria a classe conteudo, onde está o grid, mas para analisar toda a mudança de uma vez só estou fazendo aqui */

/* Se apenas um conteúdo não fica responsivo, criamos uma classe e editamos especificamente, nesse caso, o conteudo vantagem */

@media (max-width: 1000px) {
  .conteudo-vantagem {
    grid-template-columns: 1fr;
  }

  /* Como o subtitulo, está alinhado a direita, vamos alinha-lo ao centro */
  .subtitulo {
    text-align: center;
  }
}

/* Abaixo de 600px os textos começaram ficar mal estruturados */

@media (max-width: 600px) {

  /* Diminuir também os gaps, mais responsividade ao tamanho compatível */
  body {
    gap: 30px;
    margin-top: 20px;
  }

  .header {
    gap: 30px;
  }

  .conteudo {
    grid-template-columns: 1fr;
  }

  /* Alinhamento do texto e porque alguns itens foram definidos como justify-items: end; mudamos para start para alinhar ao começo */
  .introducao {
    text-align: left;
    justify-items: start;
  }

  /* Sempre tomar cuidado com itens com posições absolutas, ele estava estourando o site, o detalhezinho vermelho, então removido */
  .introducao::before {
    display: none;
  }

  .subtitulo {
    font-size: 3rem;
  }
}

/* Subtitulo e fonte "quebrando" o site, ajustando mais uma vez e as fontes também */

@media (max-width: 400px) {
  .subtitulo {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }
}